body {
  margin-top: 50px;
  background-image: url("http://daxushequ.com/data/out/103/img59872459.jpg");
  background-repeat: no repeat;
  background-size: contain;
}

#cool {
  font-size: 50px;
}

#space {
  margin-top: 30px;
}
